.footer {
    background: #1B2A41;
    text-align: start;
    padding: 20px;
    display: block;
    padding: 0;
    bottom: 0;
    padding: 10px;
    font-size: 14px;
}

.footer li {
    margin-bottom: 10px;
}

#agradecimientos1 {
    gap: 5px;
    font-size: 16px;
    font-weight: 250;
}

#agradecimientos2 {
    margin: 15px;
    display: block;
}

#copyright {
    font-size: 16px;
    font-style: italic;
}