.dark {
    background-color: #121212 !important;
    color: #f5f5f5 !important;
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Podés agregar estilos específicos si querés */
.dark a {
    color: #9ec9fd;
}

.dark button:hover {
    background-color: #333;
}