.contenedor {
    border: 5px solid blue;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel {
    display: flex;
    height: 300px;
    width: 300%;
    margin-left: -100%;
}

.contenido {
    width: 100%;
}

.botones {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 30px;
}

#der {
    right: 10px;
}

#izq {
    left: 10px;
}
.texto{
    position: absolute;
  left: 0;
  right: 0;
  bottom: 0; /* puedes usar top:0 o center si querés */
  padding: 12px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.55) 100%);
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}