#menu-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 20px;
    min-height: auto;
}

.cards-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.bronzeCard,
.silverCard,
.goldCard {
    position: relative;
    border-radius: 20px;
    width: 350px;
    height: 450px;
    background-color: #0D324D;
    box-shadow: 1px 1px 12px #969696;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.bronzeCard::before {
    content: "CENA BRONCE";
    color: #1B2A41;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 10px 0px 10px;
    background: linear-gradient(82.3deg,
            rgba(205, 127, 50) 10.8%,
            rgb(184, 120, 56) 94.3%);
    transform: translateY(-60px);
    border-radius: 20px;
    font-weight: bolder;
}

.silverCard::before {
    content: "CENA PLATA";
    color: #1B2A41;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 10px 0px 10px;
    background: linear-gradient(82.3deg,
            rgb(206, 198, 198) 10.8%,
            rgb(161, 159, 157) 94.3%);
    transform: translateY(-60px);
    border-radius: 20px;
    font-weight: bolder;
}

.goldCard::before {
    content: "CENA ORO";
    color: #1B2A41;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 10px 0px 10px;
    background: linear-gradient(82.3deg,
            rgb(245, 208, 111) 10.8%,
            rgb(186, 120, 2) 94.3%);
    transform: translateY(-60px);
    border-radius: 20px;
    font-weight: bolder;
}

.bronzeCard img,
.silverCard img,
.goldCard img {
    width: 70%;
    height: 130px;
    border-radius: 20px;
}

#org {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(82.3deg,
            rgba(227, 193, 111, 1) 10.8%,
            rgb(184, 147, 63) 94.3%);
    height: 2rem;
    width: 7rem;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    color: #1B2A41;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#info {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
}

#info>p {
    margin-bottom: 10px;
}

#org-conteiner {
    text-align: left;
    padding-left: 50px;
}