.alinear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Formulario {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 40%;
    font-size: 20px;
    gap: 10px;
    background-color: #1b2a41;
    padding: 5px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.color>input {
    margin-bottom: 20px;
}

legend {
    font-weight: bolder;
    font-style: italic;
    color: #e3c16f;
}

.field {
    border: 3px solid #e3c16f;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.la {
    font-weight: normal;
}

select {
    width: 50%;
    margin: 7px;
    background-color: #e3c16f;
    color: #1b2a41;

}

select>option {
    color: #1b2a41;
}

.indicar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.indicar>p {
    height: 25px;
    text-align: center;
    margin-top: 8px;
    border-radius: 20px;
}

.alinear2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul>li {
    margin: 5px;
}