/* Modo oscuro */
body.dark {
    background-color: #000000;
}

/* Links y botones */
body.dark a {
    color: #e3c16f;
}

body.dark .botones {
    color: #000000;
}

/*Menu desplegable*/
body.dark .hamburger {
    color: #e3c16f;
}

body.dark .menu.open {
    background-color: #1b1b1b;
}

/*Componentes*/
body.dark .section,
body.dark #seccion2,
body.dark #root {
    background-color: #000000;
}

body.dark .cenas,
body.dark .viajes,
body.dark .Navbar,
body.dark .footer,
body.dark .Formulario,
body.dark .atras,
body.dark .girar:hover,
body.dark #form,
body.dark #redes,
body.dark #welcome-message {
    background-color: #111111;
}

body.dark .complete {
    background-color: #1b1b1b;
}

body.dark .complete:focus {
    background-color: #353433;
    color: #e3c16f;
}

body.dark .navbar-link:hover {
    background-color: #1b1b1b;
}

body.dark .americaTrip,
body.dark .europeTrip,
body.dark .oceaniaTrip,
body.dark .bronzeCard,
body.dark .silverCard,
body.dark .goldCard,
body.dark #s {
    background-color: #1b1b1b;
    box-shadow: 1px 1px 12px #050505;
}

/* Modo claro (por defecto) */
body.light,
body.light .section,
body.light #seccion2,
body.light #root {
    /*   background-color: #F5FBEF;
    background-color: #131f31; */
    background-color: #223655;
}

body.light .cenas,
body.light .viajes,
body.light .Navbar,
body.light .footer,
body.light #form,
body.light #redes,
body.light #welcome-message {
    background-color: #1B2A41;
    color: #e3c16f;
}

body.light .navbar-link:hover {
    background-color: #1B2A41;
}

body.light .americaTrip,
body.light .europeTrip,
body.light .oceaniaTrip,
body.light .bronzeCard,
body.light .silverCard,
body.light .goldCard {
    background-color: #1f3352;
}

body.light .complete {
    background-color: #1B2A41;
}

body.light .complete:focus {
    color: #1B2A41;
    background-color: #e3c16f;
    box-shadow: 13px 13px 100px #E3C16F,
        -13px -13px 100px #1B2A41;
}


/* Botón modo oscuro */
.theme-toggle-container {
    position: absolute;
    transform: translateY(-2px);
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon svg:hover {
    transform: rotate(50deg) scale(1.2);
}

/*Iconos*/
.iconoMO svg,
.iconoMOH svg {
    width: 26px;
    height: 26px;
}

.iconoMOH {
    display: none;
}

body.dark .iconoMO svg path {
    fill: #E3C16F !important;
}

body.light .iconoMO svg path {
    fill: #E3C16F !important;
}

/*flechas del carrusel*/

.botones svg {
    width: 40px;
    height: 40px;
}