body {
    padding: 0;
    margin: 0;
    background-color: #F5FBEF;
}

@media (max-width: 850px) {
    #redes {
        padding-left: 20px;
        padding-right: 20px;
    }

    #red-button-Facebook,
    #red-button-Twitter,
    #red-button-Instagram,
    #red-button-LinkedIn,
    #red-button-WhatsApp {
        height: 6rem;
        width: 6rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
    }
}

@media (max-width: 768px) {
    .destino {
        width: 45%;
        margin-bottom: 20px;
    }

    #redes-buttons {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-bottom: 50px;
        height: auto;
    }

    #red-button-Facebook,
    #red-button-Twitter,
    #red-button-Instagram,
    #red-button-LinkedIn,
    #red-button-WhatsApp {
        height: 4rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        font-size: 10px;
        font-weight: bold;
        display: grid;
    }
}

@media (max-width: 600px) {
    #redes {
        font-size: 10px;
        height: auto;
    }

    #form {
        font-size: 10px;
        width: 90%;
    }

    #container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.bienvenida h1 {
    font-size: 28px;
}

.bienvenida p {
    font-size: 16px;
}

@media (max-width: 480px) {
    .destino {
        width: 90%;
        margin-bottom: 20px;
    }

    .bienvenida h1 {
        font-size: 24px;
    }

    .bienvenida p {
        font-size: 14px;
    }
}