body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F5FBEF;
}

/* Configuración responsive para la página de contacto */
@media (max-width: 950px) {

    #container {
        display: grid;
        min-height: 70vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "form form redes redes"
            "form form redes redes"
            "form form welcome welcome";
    }

    #form {
        grid-area: form;
    }

    #redes {
        grid-area: redes;
    }

    #welcome-message {
        grid-area: welcome;
        font-size: 20px;
    }

    #red-button-Facebook,
    #red-button-Twitter,
    #red-button-Instagram,
    #red-button-LinkedIn,
    #red-button-WhatsApp {
        width: 6rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
        font-size: 15px;
    }

    .subtitle {
        font-size: 25px;
    }

    #s,
    #close {
        font-size: 1rem;
    }
}

@media (max-width: 850px) {
    #redes {
        padding-left: 20px;
        padding-right: 20px;
    }

    #red-button-Facebook,
    #red-button-Twitter,
    #red-button-Instagram,
    #red-button-LinkedIn,
    #red-button-WhatsApp {
        width: 6rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
        font-size: 15px;
    }

    #message-welcome {
        font-size: 1.5rem;
    }

    #redes {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 770px) {
    .destino {
        width: 45%;
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 20px;
    }

    #form {
        font-size: 15px;
    }

    #redes {
        padding-bottom: 0;
        font-size: 15px;
    }

    #redes-buttons {
        display: flex;
        flex-direction: block;
        gap: 20px;
        align-items: center;
        padding-bottom: 50px;
        height: auto;
    }

    #red-button-Facebook,
    #red-button-Twitter,
    #red-button-Instagram,
    #red-button-LinkedIn,
    #red-button-WhatsApp {
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
        width: 6rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #container {
        display: grid;
        height: 60vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            "form form redes redes"
            "form form welcome welcome";
    }

    #form {
        grid-area: form;
    }

    #redes {
        grid-area: redes;
    }

    #welcome-message {
        grid-area: welcome;
    }

    #welcome-message {
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .navbar-links {
        display: none
    }

    .Título {
        font-size: 1.5rem;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 60px;
        right: 0;
        width: 120px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background-color: #1B2A41;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 20px;

        transform: translateY(-12px);
        opacity: 0;
        pointer-events: none;

        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 1000;
    }

    .menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 600px) {
    #container {
        display: grid;
        height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            "form redes"
            "form welcome";
        margin-left: 10px;
        margin-right: 10px;
    }

    #form {
        grid-area: form;
    }

    #redes {
        grid-area: redes;
    }

    #welcome-message {
        grid-area: welcome;
    }

    #redes,
    #form,
    #welcome-messagge {
        font-size: 15px;
        height: auto;
    }

    .subtitle {
        font-size: 20px;
    }

    #s,
    #close {
        font-size: 13px;
    }

    #close {
        width: 6rem;
        height: 2rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 2px;
    }
}

@media (max-width: 500px) {
    #container {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "form"
            "redes"
            "welcome";
        margin-left: 10px;
        margin-right: 10px;
    }

    #form {
        grid-area: form;
    }

    #redes {
        grid-area: redes;
    }

    #welcome-message {
        grid-area: welcome;
    }

    #redes,
    #form {
        font-size: 15px;
    }

    .subtitle {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {

    #redes-buttons {
        flex-direction: block;
        gap: 30px;
        align-items: center;
        padding-bottom: 50px;
        height: auto;
    }

    #red-button-Facebook,
    #red-button-Twitter,
    #red-button-Instagram,
    #red-button-LinkedIn,
    #red-button-WhatsApp {
        width: 6rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
        font-size: 10px;
    }

    .Título {
        font-size: 1.2rem;
    }

    #s {
        width: 70%;
    }

    @media (max-width: 350px) {
        .Título {
            display: none;
        }

        .título-cel {
            display: flex;
        }
    }
}

/*------------------------------------------------------------------------------------------*/

.bienvenida h1 {
    font-size: 28px;
}

.bienvenida p {
    font-size: 16px;
}

/*Responsive de la página de inicio*/

@media (max-width: 480px) {
    .destino {
        width: 90%;
        margin-bottom: 20px;
    }

    .bienvenida h1 {
        font-size: 24px;
    }

    .bienvenida p {
        font-size: 14px;
    }
}

/* Responsive del carrusel */

@media (max-width: 600px) {
    .carrusel {
        height: 400px;
    }
}